@import '../../../../_styles/mixins.scss';

.hamburgerButton {
  position: relative;
  background-color: var(--green-8);
  padding: 0;
  border-radius: 100%;
  height: 45px;
  width: 45px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-state='open'] {
    background-color: var(--green-11);
  }
}

.dropdownMenuContent,
.dropdownMenuSubContent {
    @include breakpoint(medium) {
        display:none;
    }

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(90vh - 56px);
  width:100vw;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

}
.dropdownMenuContent[data-side='top'],
.dropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.dropdownMenuContent[data-side='right'],
.dropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.dropdownMenuContent[data-side='bottom'],
.dropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.dropdownMenuContent[data-side='left'],
.dropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.dropdownMenuItem,
.dropdownMenuCheckboxItem,
.dropdownMenuRadioItem,
.dropdownMenuSubTrigger {
  margin:0 auto;
  min-width:200px;
  width:20%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 1;
  border-radius: 3px;
  height: 25px;
  padding: 10px 5px;
  position: relative;
  user-select: none;
  outline: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}
.dropdownMenuSubTrigger[data-state='open'] {
  background-color: var(--violet-4);
  color: var(--violet-11);
}
.dropdownMenuItem[data-disabled],
.dropdownMenuCheckboxItem[data-disabled],
.dropdownMenuRadioItem[data-disabled],
.dropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.dropdownMenuItem[data-highlighted],
.dropdownMenuCheckboxItem[data-highlighted],
.dropdownMenuRadioItem[data-highlighted],
.dropdownMenuSubTrigger[data-highlighted] {
  // background-color: var(--green-11);
  // color: var(--violet-1);
}

.dropdownMenuLabel {
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.dropdownMenuSeparator {
  margin: 30px auto;
  height: 1px;
  width:30%;
  background-color: var(--green-11);
}

.dropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdownMenuArrow {
  fill: white;
}

.rightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve-8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
