@import '../../../../_styles/mixins.scss';

.container {
  margin:auto;
  padding: 3rem;
  border-radius: 10px;
  background: rgba($color: #ffffff, $alpha: 1);
}

.heading {
  margin-bottom: 20px;
}

