@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.serverErrorContainer {
  margin: 10px 10px;
  text-align: center;
  color: red;
}

.field {
  input {
    @include breakpoint(small) {
      min-width: 400px;
    }
  }
}

.error {
  .label {
    color: red;
  }

  div {
    border-color: red;
  }

  input {
    color: red;
  }

  .errorMsg {
    font-size: 0.9rem;
    color: red;
  }
}

.loginButton {
  margin-top: 10px;

  &:hover {
    cursor: pointer;
  }
}
